<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.model.system.mapper.SysDictMapper">

    <select id="selectDictDataBydictId" resultType="com.gg.model.system.domain.SysDict">
        SELECT sd.name,sd.description,sdd.label,sdd.`value`,sdd.dict_sort FROM sys_dict sd LEFT JOIN sys_dict_data sdd ON sd.dict_id = sdd.dict_id ORDER BY sdd.dict_sort
    </select>
</mapper>
