<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.model.system.mapper.SysUserMapper">
    <resultMap type="SysUser" id="BaseResultMap">
        <id property="userId"                   column="user_id"      />
        <result property="deptId"               column="dept_id"    />
        <result property="userName"             column="user_name"    />
        <result property="nickName"             column="nick_name"    />
        <result property="password"             column="password"    />
        <result property="lastPassword"         column="last_password"    />
        <result property="passwordChangeTime"   column="password_change_time"    />
        <result property="avatarPath"           column="avatar_path"    />
        <result property="gender"               column="gender"    />
        <result property="phone"                column="phone"    />
        <result property="email"                column="email"    />
        <result property="status"               column="status"    />
        <result property="createUserName"       column="create_user_name"    />
        <result property="createTime"           column="create_time"    />
        <result property="updateUserName"       column="update_user_name"    />
        <result property="updateTime"           column="update_time"    />
    </resultMap>

</mapper>